In [ ]:
'''Write a Python program to loop through all the elements in a list
Ex: 
Input: [1,2,3,4,5,6]
Output: 
1
2
3
4
5
6
'''

In [1]:
x=[1,2,3,4,5,6]
for i in x:
    print(i)

1
2
3
4
5
6

In [ ]:
''' Write a Python program where you will ask the users to insert elements in a list'''

In [4]:
x= input("Enter family members separated by comma ")
y= x.split(",")
print(y)

Enter family members separated by comma Vinay,vamsi,varma,vivek,vihas,varun,vikram,vipul
['Vinay', 'vamsi', 'varma', 'vivek', 'vihas', 'varun', 'vikram', 'vipul']

In [ ]:
'''Write a Python program to remove all the odd index value from a list and only even 
index elements should remain'''
'''Input: [1,2,3,4,5,6,7,”a”]
Output: [1,3,5,7]'''

In [21]:
x=[1,2,3,4,5,6,'a']
k=[]
for i in range(len(x)):
    if i%2!=0:
        pass
    else: k.append(x[i])
print(k)

[1, 3, 5, 'a']

In [ ]:
'''Write a Python program to sum and multiply all the items in a list
Ex:
Input: [1,2,3,4]
Output: sum: -10
 Product: -24'''

In [29]:
x= [1,2,3,4]
s=0
p=1
for i in x:
    s=s+i
    p=p*i
print('sum=',s ,' ', 'product=',p)

sum= 10   product= 24

In [30]:
'''Write a Python program to get the maximum and minimum numbers from a list
Ex:
Input: [8,4,11,7,90]
Output: max: - 90
 Min: - 4'''

'Write a Python program to get the maximum and minimum numbers from a list\nEx:\nInput: [8,4,11,7,90]\nOutput: max: - 90\n Min: - 4'

In [38]:
x=[8,4,11,7,90]
y=set(x)
z=list(y)
print('Max:- ',z[-1])
print('Min:- ',z[0])

Max:-  90
Min:-  4

In [ ]:
'''Write a Python program to print a specified list after removing the 0th, 4th and 5th 
elements.
Ex:
Input: ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Output: ['Green', 'White', 'Black']'''

In [6]:
x=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
del x[x.index('Red')]
del x[x.index('Pink')]
del x[x.index('Yellow')]
x

['Green', 'White', 'Black']

In [13]:
x=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
def ind(*a):
    b=[]
    for i in a:
        b.append(x[i])
    for j in b:
        del x[x.index(j)]
    print(x)

In [14]:
ind(0,4,5)

['Green', 'White', 'Black']

In [3]:
'''Write a Python program to convert a list of characters into a string'''
x=['I','n','d','i','a']
"".join(x)

'India'

In [4]:
'''Write a Python program to compute average of given lists.'''

'Write a Python program to compute average of given lists.'

In [4]:
x=[1,2,3,4,5]
k=len(x)
c=0
for i in x:
    c=c+i
print(c/k)

3.0

In [ ]:
'''Write a Python program to count integer in a given mixed list.'''

In [20]:
x=['a',1,3,6,5,'t','@'];c=0
for i in x:
    if str(i).isdigit():
        c=c+1
print(c)

4

In [ ]:
'''Write a Python program to reverse the list'''

In [23]:
x=[1,2,3,4,5,6,7,8,9]
x.reverse()
x

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
''' Write a Python program convert a given string to a tuple
Ex:
Input: “python1.2”
Output: (“p”,” y”,”t”,”h”,” o”,” n”,”1”,”.”,”2”)'''

In [24]:
x='python1.2'
y=tuple(x)
y

('p', 'y', 't', 'h', 'o', 'n', '1', '.', '2')