In [ ]:
#Write a python program to convert a string to lower case

In [3]:
x='VINAY'
y=x.lower()
y

'vinay'

In [4]:
'''Write a python program to convert only odd 
indexed characters to lower case 
Ex:- PYTHON
Output: - PyThOn'''

'Write a python program to convert only odd \nindexed characters to lower case \nEx:- PYTHON\nOutput: - PyThOn'

In [19]:
x=input('enter the string : ')
for i in range(len(x)):
    if i%2!=0:
        print(x[i].lower(),end='')
    else:
        print(x[i],end='')

enter the string : VINAY
ViNaY

In [ ]:
'''Write a python program to convert only even 
indexed characters to lower case 
Ex:- PYTHON
Output: - pYtHoN'''

In [21]:
x=input('enter the string : ')
for i in range(len(x)):
    if i%2==0:
        print(x[i].lower(),end='')
    else:
        print(x[i],end='')

enter the string : VINAY
vInAy

In [22]:
'''Write a python program to convert only odd 
indexed characters to upper case 
Ex:- python
Output: - pYtHoN'''

'Write a python program to convert only odd \nindexed characters to upper case \nEx:- python\nOutput: - pYtHoN'

In [24]:
x=input('enter the string : ')
for i in range(len(x)):
    if i%2!=0:
        print(x[i].upper(),end='')
    else:
        print(x[i],end='')

enter the string : vinay
vInAy

In [25]:
'''Write a python program to convert only even 
indexed characters to upper case 
Ex:- python
Output: - PyThOn'''

"x=input('enter the string : ')\nfor i in range(len(x)):\n    if i%2==0:\n        print(x[i].lower(),end='')\n    else:\n        print(x[i],end='')"

In [26]:
x=input('enter the string : ')
for i in range(len(x)):
    if i%2==0:
        print(x[i].upper(),end='')
    else:
        print(x[i],end='')

enter the string : vinay
ViNaY

In [27]:
'''Write a python program where you have 
different variable which contains your name 
,sex,age, phone no ,fathers name and mothers 
name.And by using this variable create a '''

'Write a python program where you have \ndifferent variable which contains your name \n,sex,age, phone no ,fathers name and mothers \nname.And by using this variable create a '

In [28]:
name=input('enter your name : ')
Gender=input('enter your gender : ')
Age=int(input('enter your age : '))
ph_no=int((input('enter your phone number : ')))
Father_name=input('enter your father name : ')
Mother_name=input('enter your mother name : ')
bio_data='My Name is {}, Age is {}, Phone-number is {}, My father name is and mother name is {}'.format(name,Age,ph_no,Father_name,Mother_name)
print(bio_data)

enter your name : ram
enter your gender : M
enter your age : 55
enter your phone number : 123456478
enter your father name : dhasharath
enter your mother name : kousalya
My Name is ram, Age is 55, Phone-number is 123456478, My father name is and mother name is dhasharath

In [ ]:
#write a python program to count how many times “@” occurred

In [29]:
x='asd@asdf@ASDF@ASD@'
x.count('@')

4

In [ ]:
'''Write a python program to get only names from 
the string 
“name1.@gmail.com,name2.@gmail.com,name
3.@gmail.com”
Output-name1,name2,name3'''

In [30]:
x='name1.@gmail.com,name2.@gmail.com,name3.@gmail.com'
a=x.split(',')
b=a[0].split('.')
c=a[1].split('.')
d=a[2].split('.')
print(b[0],c[0],d[0])

name1 name2 name3

In [32]:
'''Given a string of odd length greater that 9, 
return a new string made of the middle three 
characters of a given String
Ex:- “mynameissan
Output:- “mei”'''

'Given a string of odd length greater that 9, \nreturn a new string made of the middle three \ncharacters of a given String\nEx:- “mynameissan\nOutput:- “mei”'

In [41]:
x=input('enter a string : ')
l=len(x)
if l>9:
    if l%2==0:
        print('bye')
    else:
        h=l/2
        b=int(h-1)
        a=int(h+1)
        print(b,h,a)
        print(x[b:a+1])

enter a string : mynameissan
4 5.5 6
mei

In [42]:
'''Write a python program to insert a 2 string 
in the middle of 1 string
Ex:-Str1=”myn”
 Str2=”sa”
Output:-“msayn”
'''

'Write a python program to insert a 2 string \nin the middle of 1 string\nEx:-Str1=”myn”\n Str2=”sa”\nOutput:-“msayn”\n'

In [44]:
x=input('enter first string : ')
y=input('enter Second string : ')
z=len(x)
a=int(z/2)
b=int(a+1)
x[0:a]+y+x[a:]

enter first string : riyaz
enter Second string : vinay

'rivinayyaz'

In [45]:
'''Write a program to remove vowels from 
the entire alphabets 
Ex:- “abcdefghijklmnopqrstuvwxyz”
Output:- “bcdfghjklmnpqrstvwxyz”'''

'Write a program to remove vowels from \nthe entire alphabets \nEx:- “abcdefghijklmnopqrstuvwxyz”\nOutput:- “bcdfghjklmnpqrstvwxyz”'

In [6]:
x=input('enter the string : ')
v=''
c=''
for i in x:
    
    if i=='A' or i=='a' or i=='E' or i=='e' or i=='I' or i=='i' or i=='O' or i=='o' or i=='U' or i=='u':
        c=c+i
    else:
        v=v+i
print(v,end='')

enter the string : abcdefghijklmnopqrstuvwxyz
bcdfghjklmnpqrstvwxyz